(
    axes: {
        "player_x": Emulated(pos: Key(Left), neg: Key(Right)),
        "player_y": Emulated(pos: Key(Up), neg: Key(Down)),
    },
    actions: {
        "fire": [ [Key(Space)] ],
    },
)